.nav-header {
  display: flex;
  padding: 10px;
  height: 10vh;
  padding-right: 10px;
}

.nav-content-lg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.logout-desktop-btn {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 5px;
  background-color: #0967d2;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  border: 0px solid transparent;
}

.nav-content-lg {
  display: none;
}

.nav-content-sm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-logout-container {
  display: flex;
  justify-content: space-between;
}

.website-logo-small {
  width: 60px;
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

.logout-mobile-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0px solid transparent;
  margin-top: 8px;
}

.logout-icon {
  width: 35px;
  height: 35px;
}

.nav-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e6f6ff;
  padding: 10px;
  list-style-type: none;
}

.nav-image {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .nav-content-lg {
    display: flex; /* Use flex for proper alignment */
  }
  .nav-content-sm {
    display: none;
  }
}
